body {
    background-image:url(https://thumbs.dreamstime.com/z/teste-padr%C3%A3o-com-linha-garatuja-tirada-m%C3%A3o-cat-background-bonita-engra%C3%A7ada-110493132.jpg);
    background-size: auto 200vh;
    font-family: Verdana;
    height: 100vh;
  }
  .menu{background:#ffffff;}
  
  a{text-decoration:none;}
  
  a:hover{text-decoration: underline;}
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{list-style: none;}
  
  .site-title{
    background:#ffffff;
    text-align: center;
    color: Black;
  }
  .site-subtitle{
    text-align: center;
    background:#ffffff;
    color:#000000;
    font-style: italic;
    
  }